body {
  text-align: center;
}
.sign-in-thingy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-main-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo-item {
  margin-bottom: 2em;
}

.user-input {
  margin-bottom: 2em;
}

button {
  margin-top: 1em;
}